<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../content/css/vendors/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/main/search.css">

</head>

<body>

    <!-- Start Navbar -->
    <!-- End Navbar -->

    <div class="container">
        <div class="row position-relative">

            <div class="col-md-2 test">

                <aside>
                    <div class="filter">
                        <i class="fas fa-filter"></i>
                        <span class="margin-right">حدد بحثك</span>
                    </div>
                    <div class="title">
                        <button class="b1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                            aria-expanded="true" aria-controls="collapseExample">
                            <span class="margin-left ico"><i class="fas fa-hard-hat"></i></span>
                            <span class="margin-right">المهنة</span>
                            <span class=" margin-left s"><i class="fas fa-caret-down"></i></span>
                        </button>
                        <div class="container-fluid" id="collapseExample">
                            <div class="list ">
                                <a href="#">
                                    <div class="form-check margin-bottom">
                                        <input class="form-check-input" type="checkbox" value="نجار"
                                            id="flexCheckDefault">
                                        <label class="form-check-label pointer" for="flexCheckDefault">
                                            نجار
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="سباك" id="ch2">
                                        <label class="form-check-label pointer" for="ch2">
                                            سباك
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="كهربائي" id="ch3">
                                        <label class="form-check-label pointer" for="ch3">
                                            كهربائي
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="ميكانيكي" id="ch4">
                                        <label class="form-check-label pointer" for="ch4">
                                            حداد
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="ميكانيكي" id="ch4">
                                        <label class="form-check-label pointer" for="ch4">
                                            أسقف معلقة
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="ميكانيكي" id="ch4">
                                        <label class="form-check-label pointer" for="ch4">
                                            سيراميك
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="ميكانيكي" id="ch4">
                                        <label class="form-check-label pointer" for="ch4">
                                            نقاش
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="ميكانيكي" id="ch4">
                                        <label class="form-check-label pointer" for="ch4">
                                            ألوميتال
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="title">
                        <button class="b1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
                            aria-expanded="true" aria-controls="collapseExample">
                            <span class="margin-left ico"><i class="far fa-calendar-alt"></i></span>
                            <span class="margin-right">المواعيد المتاحة</span>
                            <span class=" margin-left s"><i class="fas fa-caret-down"></i></span>
                        </button>
                        <div class="container collapse " id="collapseExample2">
                            <div class="list ">
                                <a href="#">
                                    <div class="form-check margin-bottom">
                                        <input class="form-check-input" type="checkbox" value="أي يوم"
                                            id="flexCheckDefault3">
                                        <label class="form-check-label pointer" for="flexCheckDefault3">
                                            أى يوم
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="اليوم" id="ch6">
                                        <label class="form-check-label pointer" for="ch6">
                                            اليوم
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="غدا" id="ch7">
                                        <label class="form-check-label pointer" for="ch7">
                                            غدا
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="title">
                        <button class="b1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3"
                            aria-expanded="true" aria-controls="collapseExample">
                            <span class="margin-left ico"><i class="far fa-calendar-alt"></i></span>
                            <span class="margin-right"> أكواد الخصم</span>
                            <span class=" margin-left s"><i class="fas fa-caret-down"></i></span>
                        </button>
                        <div class="container collapse " id="collapseExample3">
                            <div class="list ">
                                <a href="#">
                                    <div class="form-check margin-bottom">
                                        <input class="form-check-input" type="checkbox" value="يقبل أكواد الخصم"
                                            id="flexCheckDefault4">
                                        <label class="form-check-label pointer" for="flexCheckDefault4">
                                            يقبل أكواد الخصم
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="title">
                        <button class="b1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4"
                            aria-expanded="true" aria-controls="collapseExample4">
                            <span class="margin-left ico"><i class="fas fa-coins"></i></i></span>
                            <span class="margin-right">السعر</span>
                            <span class=" margin-left s"><i class="fas fa-caret-down"></i></span>
                        </button>
                        <div class="container collapse " id="collapseExample4">
                            <div class="list ">
                                <a href="#">
                                    <div class="form-check margin-bottom">
                                        <input class="form-check-input" type="checkbox" value="أقل من 50"
                                            id="flexCheckDefault5">
                                        <label class="form-check-label pointer" for="flexCheckDefault5">
                                            أقل من 50
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value=" من 50 حتى 100" id="ch8">
                                        <label class="form-check-label pointer" for="ch8">
                                            من 50 حتى 100
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="من 100 حتى 200" id="ch9">
                                        <label class="form-check-label pointer" for="ch9">
                                            من 100 حتى 200
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="من 200 حتى 300"
                                            id="ch10">
                                        <label class="form-check-label pointer" for="ch10">
                                            من 200 حتى 300
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="أكثر من 300" id="ch11">
                                        <label class="form-check-label pointer" for="ch11">
                                            أكثر من 300
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="title">
                        <button class="b1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5"
                            aria-expanded="true" aria-controls="collapseExample5">
                            <span class="margin-left ico"><i class="fas fa-hammer"></i></span>
                            <span class="margin-right">المنشأة</span>
                            <span class=" margin-left s"><i class="fas fa-caret-down"></i></span>
                        </button>
                        <div class="container collapse " id="collapseExample5">
                            <div class="list ">
                                <a href="#">
                                    <div class="form-check margin-bottom">
                                        <input class="form-check-input" type="checkbox" value="شركة"
                                            id="flexCheckDefault6">
                                        <label class="form-check-label pointer" for="flexCheckDefault6">
                                            شركة
                                        </label>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="form-check margin-bottom ">
                                        <input class="form-check-input" type="checkbox" value="مستقل" id="ch12">
                                        <label class="form-check-label pointer" for="ch12">
                                            مستقل
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>


            </div>

            <div class="col-md-10">

                <div id="searchContainer" class="row">

                </div>


            </div>


        </div>
    </div>

    <!-- Scripts -->
    <script src="../content/js/vendors/all.min.js"></script>
    <script src="../content/js/vendors/bootstrap.bundle.min.js"></script>
    <script type="module" src="../content/js/main/controllers/searchController.js"></script>

</body>

</html>